---
import { Font } from "astro:assets";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Font cssVariable="--font-manrope" preload />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/icon-192.png" />
		<link rel="icon" type="image/png" sizes="512x512" href="/icon-512.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<title>Laxman KC</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
